@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* styles.css */

html{
    background-color: white!important;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
  }

@keyframes popIn {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-popIn {
    animation: popIn 1s forwards;
  }
  

  @keyframes growShrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-growShrink {
    animation: growShrink 2s infinite;
  }


  @keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
      
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  
    .animate-slideIn {
        animation: slideIn 600ms ease-in-out;
      }
  

  .speech-bubble {
  position: fixed;
}

.speech-bubble::before,
.speech-bubble::after {
  content: "";
  position: absolute;
  border-style: solid;
}

.speech-bubble::before {
  top: 98%;
  right: 24px;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent rgb(255, 255, 255) transparent;
  transform: rotate(180deg);
}